.tileWater {
    width: 50px;
    height: 50px;
    background-color: white;
    outline: 1px solid rgba(144, 175, 175, 0.75);
    display: inline-block;
}
.tileShip {
    width: 50px;
    height: 50px;
    background-color: rgb(49, 67, 225);
    outline: 1px solid rgba(144, 175, 175, 0.75);
    display: inline-block;
}
.tileMiss {
    width: 50px;
    height: 50px;
    background-color: rgb(156, 33, 33);
    outline: 1px solid rgba(144, 175, 175, 0.75);
    display: inline-block;
}
.tileHit {
    width: 50px;
    height: 50px;
    background-color: rgb(8, 3, 3);
    outline: 1px solid rgba(144, 175, 175, 0.75);
    display: inline-block;
}
.tileSunk {
    width: 50px;
    height: 50px;
    background-color: rgb(51, 158, 78);
    outline: 1px solid rgba(144, 175, 175, 0.75);
    display: inline-block;
}