.tileWater {
    background-color: white;
    background-color: rgb(68, 71, 90);
}

.tileShip {
    background-color: rgb(51, 158, 78);
}

.tileMiss {
    background-color: rgb(139, 233, 253);
}

.tileHit {
    background-color: rgb(255, 85, 85);
}

.tileSunk {
    background-color: rgb(51, 158, 78);
}

.tileShadow {
    background-color: rgba(255, 8, 226, 0.271);
}

.tileNoShadow {}

.tile {
    width: calc(100%/var(--col));
    height: calc(100%);
    border: 1px solid black;
    display: inline-block;
}